m{
    
    text-align: center;
}
body{
   
    background: url('main.jpg');
    width: 100%px;
    height: 100vh;
  background-size: cover;
  background-position: center;
  text-align: center;
  
} 
h1{
    font-size: 70px;
    font-style: italic;
}
p{
    font-size: 40px;
    font-style: normal;
}
input{
    border-radius: 30px;
    width: 250px;
    height: 50px;

}
button{
    border-radius: 20px;
}
h2{
    font-size: 30px;
    font-style: italic;
}
a{
    font-size: 40px;
}